doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/break.css')
        script(src='/javascripts/break.js')
    body
        div.body
            | Now you can take a break up to a minute. When you are ready, please click the next button to proceed to the next session. 
            br
            br
            button(id='next') Next