doctype html
html
    head
        script(src='/javascripts/credit.js')
        link(rel='stylesheet' href='/stylesheets/credit.css')
    body
        div.title
            | In order to receive your payment you MUST:
            br
            ol
                li Follow ALL instructions
                li Turn off web extensions (ie. Grammarly)
                li Answer survey questions honestly and completely to the best of your ability
                li Correctly identify the algorithm you are using in each section
                li Individually type each of your email responses in the designated email response box
                li Correctly paste your unique survey code into M-Turk (If you paste your M-Turk ID into M-Turk instead of your unique survey code you will NOT receive payment)
            br
            br
            button(class='next' id='next') Next