doctype html
html
  head
    link(rel='stylesheet' href='/stylesheets/goodbye.css')
    script(src='/javascripts/goodbye.js')
  body
    div(class="pbar")
      div(class="completed" id="completed")
    br
    p Thank you for participating! You may now close the page. 