doctype html
html
  head
    script(src='/javascripts/home.js')
  body
    p 
    | This is the homepage for Synergy. 
    br
    br
    | INSTRUCTIONS
    br
    | ==========================================================================
    br
    | 1. Do not navigate to the previous page with the back arrow. 
    br
    | 2. Do not navigate with your browser's address bar.
    br
    | 3. Submissions are final. Once you submit a response you cannot edit it.
    br
    br
    button(class='start' id='start') Start