doctype html
html
  head
    script(src='/javascripts/home.js')
  body
    p 
    | Welcome to EMPTI.
    br
    br
    | INSTRUCTIONS
    br
    | ==========================================================================
    br
    | 1. You will be asked to respond to a series of 8 emails.
    br
    | 2. Each response should include at least 100 words.
    br
    | 3. Do not navigate with your browser's address bar or back arrow.
    br
    | 4. Responses cannot be edited once submitted.
    br
    br
    button(class='start-tutorial' id='start-tutorial') Start Tutorial 