doctype html
html
  head
    script(src='/javascripts/home.js')
  body
    p 
    | This is the homepage for Synergy. 
    br
    br
    | Here we'll have some start instructions.
    br
    button(class='start' id='start') Start