doctype html
html
    html
        script(src='/javascripts/loading.js')
        link(rel='stylesheet' href='/stylesheets/loading.css')
    body
        div.loading-text
            | Please give us a few seconds for the #[strong Smart Predictor] to learn your writing habits and provide you with the most personalized writing suggestions later in the experiment.
        div.loading-icon
            div(class='loader' id='loader')
            button(id='start-tutorial' disabled) Start Tutorial
