doctype html
html
    html
        script(src='/javascripts/loading.js')
        link(rel='stylesheet' href='/stylesheets/loading.css')
    body
        div(class="pbar")
            div(class="completed" id="completed")
        br
        div(class='loader')
            | Please give us a few seconds for #[strong Smart Predictor] to learn your writing habits and provide you with the most personalized writing suggestions later in the experiment.
            br
            br
            div(class='loader' id='loader')
            br
            button(id='start-tutorial' disabled) Start Tutorial
