doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/manipulation-check.css')
        script(src='/javascripts/manipulation-check-2.js')
    body
        div.body
            | Which algorithim did you work with in the previous session? 
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='algorithm' value='Ringgo')
                    td #[strong Ringgo] (Developed by undergraduates)
                tr
                    td 
                        input(type='radio' name='algorithm' value='Smart Predictor')
                    td #[strong Smart Predictor] (Developed by Google)
            br
            button(id='next') Next