doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/mturk.css')
        script(src='/javascripts/mturk-2.js')
    body
        div(class="pbar")
            div(class="completed" id="completed")
        br
        div.body
            | Your unique completion code is: 
            br
            br
            | RANDOMLY GENERATED CODE 
            br
            br
            | Copy this value to paste into M-Turk.
            br
            br
            | When you have copied this code, please click the next button to submit your survey.
            br
            br
            button(id='next') Next