doctype html
html
    head
        link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
        link(rel='stylesheet' href='/stylesheets/survey.css')
        script(src='/javascripts/pre_survey_3.js')
    body
        div(class="pbar")
            div(class="completed" id="completed")
        br
        div.body
            | The final session asks you questions about your knowledge of algorithms in general. Again your answers to these questions will not be linked to your identity, and will not affect your credit. 
            br
            br
            | Your responses are extremely important to the result of this study. We highly appreciate it if you answer the questions as authentically as you can. 
            br
            br
            input(type="checkbox" id="understand")
            | Please check the box to show you understand the instructions.
            br
            br
            button(id='next') Next