doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/questionnaire.css')
    body
        div.questionnaire-intro
            | In order to better serve you with your personal writing style, please fill out this writing habit questionnaire so that our algorithm can provide you with tailored suggestions based on your answers.  
            br
            br
        div.q1
            | 1. Please select the frequency of you engaging in the writing activities (both online and offline)  listed below:
            table
                tr
                    th
                    th Hardly ever/never
                    th A few times a year
                    th A few times a month
                    th A few times a week
                    th Almost every day
                tr
                    th Diary/journal
                    td 
                        input(type='radio' name='1')
                    td 
                        input(type='radio' name='1')
                    td 
                        input(type='radio' name='1')
                    td 
                        input(type='radio' name='1')
                    td 
                        input(type='radio' name='1')
                tr
                    th Academic or school paper 
                    td 
                        input(type='radio' name='2')
                    td 
                        input(type='radio' name='2')
                    td 
                        input(type='radio' name='2')
                    td 
                        input(type='radio' name='2')
                    td 
                        input(type='radio' name='2')
                tr
                    th Letters or emails to relatives
                    td 
                        input(type='radio' name='3')
                    td 
                        input(type='radio' name='3')
                    td 
                        input(type='radio' name='3')
                    td 
                        input(type='radio' name='3')
                    td 
                        input(type='radio' name='3')
                tr
                    th Notes or text messages
                    td 
                        input(type='radio' name='4')
                    td 
                        input(type='radio' name='4')
                    td 
                        input(type='radio' name='4')
                    td 
                        input(type='radio' name='4')
                    td 
                        input(type='radio' name='4')
                tr
                    th Novel or stories
                    td 
                        input(type='radio' name='5')
                    td 
                        input(type='radio' name='5')
                    td 
                        input(type='radio' name='5')
                    td 
                        input(type='radio' name='5')
                    td 
                        input(type='radio' name='5')
                tr
                    th Emails for work purposes
                    td 
                        input(type='radio' name='6')
                    td 
                        input(type='radio' name='6')
                    td 
                        input(type='radio' name='6')
                    td 
                        input(type='radio' name='6')
                    td 
                        input(type='radio' name='6')
                tr
                    th Content for social media
                    td 
                        input(type='radio' name='7')
                    td 
                        input(type='radio' name='7')
                    td 
                        input(type='radio' name='7')
                    td 
                        input(type='radio' name='7')
                    td 
                        input(type='radio' name='7')
                tr
                    th Comments or reviews for books, products, etc.
                    td 
                        input(type='radio' name='8')
                    td 
                        input(type='radio' name='8')
                    td 
                        input(type='radio' name='8')
                    td 
                        input(type='radio' name='8')
                    td 
                        input(type='radio' name='8')
        div.q2
            br
            | 2. When writing an email for #[strong Business and/or Work] purposes, how likely are you to frame the tone of your message as the following?
            table
                tr
                    th
                    th Extremely unlikely 
                    th Somehow unlikely 
                    th Neutral 
                    th Somehow likely 
                    th Extremely likely 
                tr
                    th Neutral 
                    td 
                        input(type='radio' name='9')
                    td 
                        input(type='radio' name='9')
                    td 
                        input(type='radio' name='9')
                    td 
                        input(type='radio' name='9')
                    td 
                        input(type='radio' name='9')
                tr
                    th Formal 
                    td 
                        input(type='radio' name='10')
                    td 
                        input(type='radio' name='10')
                    td 
                        input(type='radio' name='10')
                    td 
                        input(type='radio' name='10')
                    td 
                        input(type='radio' name='10')
                tr
                    th Confident 
                    td 
                        input(type='radio' name='11')
                    td 
                        input(type='radio' name='11')
                    td 
                        input(type='radio' name='11')
                    td 
                        input(type='radio' name='11')
                    td 
                        input(type='radio' name='11')
                tr
                    th Joyful 
                    td 
                        input(type='radio' name='12')
                    td 
                        input(type='radio' name='12')
                    td 
                        input(type='radio' name='12')
                    td 
                        input(type='radio' name='12')
                    td 
                        input(type='radio' name='12')
                tr
                    th Optimistic 
                    td 
                        input(type='radio' name='13')
                    td 
                        input(type='radio' name='13')
                    td 
                        input(type='radio' name='13')
                    td 
                        input(type='radio' name='13')
                    td 
                        input(type='radio' name='13')
                tr
                    th Friendly 
                    td 
                        input(type='radio' name='14')
                    td 
                        input(type='radio' name='14')
                    td 
                        input(type='radio' name='14')
                    td 
                        input(type='radio' name='14')
                    td 
                        input(type='radio' name='14')
                tr
                    th Urgent 
                    td 
                        input(type='radio' name='15')
                    td 
                        input(type='radio' name='15')
                    td 
                        input(type='radio' name='15')
                    td 
                        input(type='radio' name='15')
                    td 
                        input(type='radio' name='15')
                tr
                    th Analytical 
                    td 
                        input(type='radio' name='16')
                    td 
                        input(type='radio' name='16')
                    td 
                        input(type='radio' name='16')
                    td 
                        input(type='radio' name='16')
                    td 
                        input(type='radio' name='16')
                tr
                    th Respectful 
                    td 
                        input(type='radio' name='17')
                    td 
                        input(type='radio' name='17')
                    td 
                        input(type='radio' name='17')
                    td 
                        input(type='radio' name='17')
                    td 
                        input(type='radio' name='17')
                tr
                    th Knowledgeable 
                    td 
                        input(type='radio' name='18')
                    td 
                        input(type='radio' name='18')
                    td 
                        input(type='radio' name='18')
                    td 
                        input(type='radio' name='18')
                    td 
                        input(type='radio' name='18')
        div.q3
            br
            | 3.  When writing an email for #[strong Academic and/or School] purposes, how likely are you to frame the tone of your message as the following?
            table
                tr
                    th
                    th Extremely unlikely 
                    th Somehow unlikely 
                    th Neutral 
                    th Somehow likely 
                    th Extremely likely 
                tr
                    th Neutral 
                    td 
                        input(type='radio' name='19')
                    td 
                        input(type='radio' name='19')
                    td 
                        input(type='radio' name='19')
                    td 
                        input(type='radio' name='19')
                    td 
                        input(type='radio' name='19')
                tr
                    th Formal 
                    td 
                        input(type='radio' name='20')
                    td 
                        input(type='radio' name='20')
                    td 
                        input(type='radio' name='20')
                    td 
                        input(type='radio' name='20')
                    td 
                        input(type='radio' name='20')
                tr
                    th Confident 
                    td 
                        input(type='radio' name='21')
                    td 
                        input(type='radio' name='21')
                    td 
                        input(type='radio' name='21')
                    td 
                        input(type='radio' name='21')
                    td 
                        input(type='radio' name='21')
                tr
                    th Joyful 
                    td 
                        input(type='radio' name='22')
                    td 
                        input(type='radio' name='22')
                    td 
                        input(type='radio' name='22')
                    td 
                        input(type='radio' name='22')
                    td 
                        input(type='radio' name='22')
                tr
                    th Optimistic 
                    td 
                        input(type='radio' name='23')
                    td 
                        input(type='radio' name='23')
                    td 
                        input(type='radio' name='23')
                    td 
                        input(type='radio' name='23')
                    td 
                        input(type='radio' name='23')
                tr
                    th Friendly 
                    td 
                        input(type='radio' name='24')
                    td 
                        input(type='radio' name='24')
                    td 
                        input(type='radio' name='24')
                    td 
                        input(type='radio' name='24')
                    td 
                        input(type='radio' name='24')
                tr
                    th Urgent 
                    td 
                        input(type='radio' name='25')
                    td 
                        input(type='radio' name='25')
                    td 
                        input(type='radio' name='25')
                    td 
                        input(type='radio' name='25')
                    td 
                        input(type='radio' name='25')
                tr
                    th Analytical 
                    td 
                        input(type='radio' name='26')
                    td 
                        input(type='radio' name='26')
                    td 
                        input(type='radio' name='26')
                    td 
                        input(type='radio' name='26')
                    td 
                        input(type='radio' name='26')
                tr
                    th Respectful 
                    td 
                        input(type='radio' name='27')
                    td 
                        input(type='radio' name='27')
                    td 
                        input(type='radio' name='27')
                    td 
                        input(type='radio' name='27')
                    td 
                        input(type='radio' name='27')
                tr
                    th Knowledgeable 
                    td 
                        input(type='radio' name='28')
                    td 
                        input(type='radio' name='28')
                    td 
                        input(type='radio' name='28')
                    td 
                        input(type='radio' name='28')
                    td 
                        input(type='radio' name='28')
        div.q4
            br
            | 4.  When writing an email for #[strong Casual and/or Personal] purposes, how likely are you to frame the tone of your message as the following?
            table
                tr
                    th
                    th Extremely unlikely 
                    th Somehow unlikely 
                    th Neutral 
                    th Somehow likely 
                    th Extremely likely 
                tr
                    th Neutral 
                    td 
                        input(type='radio' name='29')
                    td 
                        input(type='radio' name='29')
                    td 
                        input(type='radio' name='29')
                    td 
                        input(type='radio' name='29')
                    td 
                        input(type='radio' name='29')
                tr
                    th Formal 
                    td 
                        input(type='radio' name='30')
                    td 
                        input(type='radio' name='30')
                    td 
                        input(type='radio' name='30')
                    td 
                        input(type='radio' name='30')
                    td 
                        input(type='radio' name='30')
                tr
                    th Confident 
                    td 
                        input(type='radio' name='31')
                    td 
                        input(type='radio' name='31')
                    td 
                        input(type='radio' name='31')
                    td 
                        input(type='radio' name='31')
                    td 
                        input(type='radio' name='31')
                tr
                    th Joyful 
                    td 
                        input(type='radio' name='32')
                    td 
                        input(type='radio' name='32')
                    td 
                        input(type='radio' name='32')
                    td 
                        input(type='radio' name='32')
                    td 
                        input(type='radio' name='32')
                tr
                    th Optimistic 
                    td 
                        input(type='radio' name='33')
                    td 
                        input(type='radio' name='33')
                    td 
                        input(type='radio' name='33')
                    td 
                        input(type='radio' name='33')
                    td 
                        input(type='radio' name='33')
                tr
                    th Friendly 
                    td 
                        input(type='radio' name='34')
                    td 
                        input(type='radio' name='34')
                    td 
                        input(type='radio' name='34')
                    td 
                        input(type='radio' name='34')
                    td 
                        input(type='radio' name='34')
                tr
                    th Urgent 
                    td 
                        input(type='radio' name='35')
                    td 
                        input(type='radio' name='35')
                    td 
                        input(type='radio' name='35')
                    td 
                        input(type='radio' name='35')
                    td 
                        input(type='radio' name='35')
                tr
                    th Analytical 
                    td 
                        input(type='radio' name='36')
                    td 
                        input(type='radio' name='36')
                    td 
                        input(type='radio' name='36')
                    td 
                        input(type='radio' name='36')
                    td 
                        input(type='radio' name='36')
                tr
                    th Respectful 
                    td 
                        input(type='radio' name='37')
                    td 
                        input(type='radio' name='37')
                    td 
                        input(type='radio' name='37')
                    td 
                        input(type='radio' name='37')
                    td 
                        input(type='radio' name='37')
                tr
                    th Knowledgeable 
                    td 
                        input(type='radio' name='38')
                    td 
                        input(type='radio' name='38')
                    td 
                        input(type='radio' name='38')
                    td 
                        input(type='radio' name='38')
                    td 
                        input(type='radio' name='38')
        div.q5
            br
            | 5. In general, which perspective(s) of writing an email would you need the most help with from us? Check all that apply. 
            br
            input(type='checkbox' name='1')
            label(for='1') Formal language
            br
            input(type='checkbox' name='2')
            label(for='2') Organization and transition 
            br
            input(type='checkbox' name='3')
            label(for='3') Spelling and grammar 
            br
            input(type='checkbox' name='4')
            label(for='4') Range of vocabulary 
            br
            input(type='checkbox' name='5')
            label(for='5') Punctuation and sentence structure 
            br
            input(type='checkbox' name='6')
            label(for='6') Styles and tones 
            br
            input(type='checkbox' name='7')
            label(for='7') Effect of the target audience 
            br
            input(type='checkbox' name='8')
            label(for='8') Clarity and conciseness 
            br
        div.q6
            br
            | 6.  Please rate your abilities for each writing skill item below:
            table
                tr
                    th
                    th Never or almost never true of me
                    th Usually not true of me
                    th Somewhat true of me
                    th Usually true of me
                    th Always or almost always true of me 
                tr
                    th I can effectively write under time constraints. 
                    td 
                        input(type='radio' name='39')
                    td 
                        input(type='radio' name='39')
                    td 
                        input(type='radio' name='39')
                    td 
                        input(type='radio' name='39')
                    td 
                        input(type='radio' name='39')
                tr
                    th I can write quickly in English as a native speaker.  
                    td 
                        input(type='radio' name='40')
                    td 
                        input(type='radio' name='40')
                    td 
                        input(type='radio' name='40')
                    td 
                        input(type='radio' name='40')
                    td 
                        input(type='radio' name='40')
                tr
                    th I can logically support and develop my main point when writing. 
                    td 
                        input(type='radio' name='41')
                    td 
                        input(type='radio' name='41')
                    td 
                        input(type='radio' name='41')
                    td 
                        input(type='radio' name='41')
                    td 
                        input(type='radio' name='41')
                tr
                    th I edit for content (ideas) as I am writing. 
                    td 
                        input(type='radio' name='42')
                    td 
                        input(type='radio' name='42')
                    td 
                        input(type='radio' name='42')
                    td 
                        input(type='radio' name='42')
                    td 
                        input(type='radio' name='42')
                tr
                    th I edit for organization as I am writing. 
                    td 
                        input(type='radio' name='43')
                    td 
                        input(type='radio' name='43')
                    td 
                        input(type='radio' name='43')
                    td 
                        input(type='radio' name='43')
                    td 
                        input(type='radio' name='43')
                tr
                    th I like to change, or make my ideas clearer as I am writing. 
                    td 
                        input(type='radio' name='44')
                    td 
                        input(type='radio' name='44')
                    td 
                        input(type='radio' name='44')
                    td 
                        input(type='radio' name='44')
                    td 
                        input(type='radio' name='44')
                tr
                    th I use a dictionary to check things that I am not sure about when I write. 
                    td 
                        input(type='radio' name='45')
                    td 
                        input(type='radio' name='45')
                    td 
                        input(type='radio' name='45')
                    td 
                        input(type='radio' name='45')
                    td 
                        input(type='radio' name='45')
                tr
                    th If I can’t think of a word, I can easily find another one that means that same thing. 
                    td 
                        input(type='radio' name='46')
                    td 
                        input(type='radio' name='46')
                    td 
                        input(type='radio' name='46')
                    td 
                        input(type='radio' name='46')
                    td 
                        input(type='radio' name='46')
                tr
                    th I can appropriately adjust the tone and style of my writing to fit the needs of particular readers. 
                    td 
                        input(type='radio' name='47')
                    td 
                        input(type='radio' name='47')
                    td 
                        input(type='radio' name='47')
                    td 
                        input(type='radio' name='47')
                    td 
                        input(type='radio' name='47')
                tr
                    th I always have a clear outline in my mind before writing. 
                    td 
                        input(type='radio' name='48')
                    td 
                        input(type='radio' name='48')
                    td 
                        input(type='radio' name='48')
                    td 
                        input(type='radio' name='48')
                    td 
                        input(type='radio' name='48')
                tr
                    th After writing, I go back to my content and revise for clarity. 
                    td 
                        input(type='radio' name='49')
                    td 
                        input(type='radio' name='49')
                    td 
                        input(type='radio' name='49')
                    td 
                        input(type='radio' name='49')
                    td 
                        input(type='radio' name='49')