doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/questionnaire.css')
        script(src='/javascripts/questionnaire1.js')
    body
        div(class="pbar")
            div(class="completed" id="completed")
        br
        div.tutorial-body
            | #[strong Instructions:]
            br
            br
            | In order for #[strong Smart Predictor] to better serve you with your personal writing style, please fill out this writing habit questionnaire so that our algorithm can provide you with tailored suggestions based on your answers.  
        div.question
            br
            br
            | 1. Please select the frequency of you engaging in the writing activities (both online and offline) listed below:
            br
            br
            table
                tr
                    td
                    td Hardly ever/never
                    td A few times a year
                    td A few times a month
                    td A few times a week
                    td Almost every day
                tr
                    td(class="header") Diary/journal
                    td 
                        input(type='radio' name='Diary/journal' value='Hardly ever/never')
                    td 
                        input(type='radio' name='Diary/journal' value='A few times a year')
                    td 
                        input(type='radio' name='Diary/journal' value='A few times a month')
                    td 
                        input(type='radio' name='Diary/journal' value='A few times a week')
                    td 
                        input(type='radio' name='Diary/journal' value='Almost every day')
                tr
                    td(class="header") Academic or school paper 
                    td 
                        input(type='radio' name='Academic or school paper' value='Hardly ever/never')
                    td 
                        input(type='radio' name='Academic or school paper' value='A few times a year')
                    td 
                        input(type='radio' name='Academic or school paper' value='A few times a month')
                    td 
                        input(type='radio' name='Academic or school paper' value='A few times a week')
                    td 
                        input(type='radio' name='Academic or school paper' value='Almost every day')
                tr
                    td(class="header") Letters or emails to relatives
                    td 
                        input(type='radio' name='Letters or emails to relatives' value='Hardly ever/never')
                    td 
                        input(type='radio' name='Letters or emails to relatives' value='A few times a year')
                    td 
                        input(type='radio' name='Letters or emails to relatives' value='A few times a month')
                    td 
                        input(type='radio' name='Letters or emails to relatives' value='A few times a week')
                    td 
                        input(type='radio' name='Letters or emails to relatives' value='Almost every day')
                tr
                    td(class="header") Notes or text messages
                    td 
                        input(type='radio' name='Notes or text messages' value='Hardly ever/never')
                    td 
                        input(type='radio' name='Notes or text messages' value='A few times a year')
                    td 
                        input(type='radio' name='Notes or text messages' value='A few times a month')
                    td 
                        input(type='radio' name='Notes or text messages' value='A few times a week')
                    td 
                        input(type='radio' name='Notes or text messages' value='Almost every day')
                tr
                    td(class="header") Novel or stories
                    td 
                        input(type='radio' name='Novel or stories' value='Hardly ever/never')
                    td 
                        input(type='radio' name='Novel or stories' value='A few times a year')
                    td 
                        input(type='radio' name='Novel or stories' value='A few times a month')
                    td 
                        input(type='radio' name='Novel or stories' value='A few times a week')
                    td 
                        input(type='radio' name='Novel or stories' value='Almost every day')
                tr
                    td(class="header") Emails for work purposes
                    td 
                        input(type='radio' name='Emails for work purposes' value='Hardly ever/never')
                    td 
                        input(type='radio' name='Emails for work purposes' value='A few times a year')
                    td 
                        input(type='radio' name='Emails for work purposes' value='A few times a month')
                    td 
                        input(type='radio' name='Emails for work purposes' value='A few times a week')
                    td 
                        input(type='radio' name='Emails for work purposes' value='Almost every day')
                tr
                    td(class="header") Content for social media
                    td 
                        input(type='radio' name='Content for social media' value='Hardly ever/never')
                    td 
                        input(type='radio' name='Content for social media' value='A few times a year')
                    td 
                        input(type='radio' name='Content for social media' value='A few times a month')
                    td 
                        input(type='radio' name='Content for social media' value='A few times a week')
                    td 
                        input(type='radio' name='Content for social media' value='Almost every day')
                tr
                    td(class="header") Comments or reviews for books, products, etc.
                    td 
                        input(type='radio' name='Comments or reviews for books, products, etc.' value='Hardly ever/never')
                    td 
                        input(type='radio' name='Comments or reviews for books, products, etc.' value='A few times a year')
                    td 
                        input(type='radio' name='Comments or reviews for books, products, etc.' value='A few times a month')
                    td 
                        input(type='radio' name='Comments or reviews for books, products, etc.' value='A few times a week')
                    td 
                        input(type='radio' name='Comments or reviews for books, products, etc.' value='Almost every day')
            br
            button(id='next') next 