doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/questionnaire.css')
        script(src='/javascripts/questionnaire2.js')
    body
        div.tutorial-body
            | In order to better serve you with your personal writing style, please fill out this writing habit questionnaire so that our algorithm can provide you with tailored suggestions based on your answers.  
        div.q2
            br
            | 2. When writing an email for #[strong Business and/or Work] purposes, how likely are you to frame the tone of your message as the following?
            table
                tr
                    th
                    th Extremely unlikely 
                    th Somehow unlikely 
                    th Neutral 
                    th Somehow likely 
                    th Extremely likely 
                tr
                    th Neutral 
                    td 
                        input(type='radio' name='9')
                    td 
                        input(type='radio' name='9')
                    td 
                        input(type='radio' name='9')
                    td 
                        input(type='radio' name='9')
                    td 
                        input(type='radio' name='9')
                tr
                    th Formal 
                    td 
                        input(type='radio' name='10')
                    td 
                        input(type='radio' name='10')
                    td 
                        input(type='radio' name='10')
                    td 
                        input(type='radio' name='10')
                    td 
                        input(type='radio' name='10')
                tr
                    th Confident 
                    td 
                        input(type='radio' name='11')
                    td 
                        input(type='radio' name='11')
                    td 
                        input(type='radio' name='11')
                    td 
                        input(type='radio' name='11')
                    td 
                        input(type='radio' name='11')
                tr
                    th Joyful 
                    td 
                        input(type='radio' name='12')
                    td 
                        input(type='radio' name='12')
                    td 
                        input(type='radio' name='12')
                    td 
                        input(type='radio' name='12')
                    td 
                        input(type='radio' name='12')
                tr
                    th Optimistic 
                    td 
                        input(type='radio' name='13')
                    td 
                        input(type='radio' name='13')
                    td 
                        input(type='radio' name='13')
                    td 
                        input(type='radio' name='13')
                    td 
                        input(type='radio' name='13')
                tr
                    th Friendly 
                    td 
                        input(type='radio' name='14')
                    td 
                        input(type='radio' name='14')
                    td 
                        input(type='radio' name='14')
                    td 
                        input(type='radio' name='14')
                    td 
                        input(type='radio' name='14')
                tr
                    th Urgent 
                    td 
                        input(type='radio' name='15')
                    td 
                        input(type='radio' name='15')
                    td 
                        input(type='radio' name='15')
                    td 
                        input(type='radio' name='15')
                    td 
                        input(type='radio' name='15')
                tr
                    th Analytical 
                    td 
                        input(type='radio' name='16')
                    td 
                        input(type='radio' name='16')
                    td 
                        input(type='radio' name='16')
                    td 
                        input(type='radio' name='16')
                    td 
                        input(type='radio' name='16')
                tr
                    th Respectful 
                    td 
                        input(type='radio' name='17')
                    td 
                        input(type='radio' name='17')
                    td 
                        input(type='radio' name='17')
                    td 
                        input(type='radio' name='17')
                    td 
                        input(type='radio' name='17')
                tr
                    th Knowledgeable 
                    td 
                        input(type='radio' name='18')
                    td 
                        input(type='radio' name='18')
                    td 
                        input(type='radio' name='18')
                    td 
                        input(type='radio' name='18')
                    td 
                        input(type='radio' name='18')
        br 
        button(id='next') Next 