doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/questionnaire.css')
        script(src='/javascripts/questionnaire6.js')
    body
        div(class="pbar")
            div(class="completed" id="completed")
        br
        div.tutorial-body
            | #[strong Instructions:]
            br
            br
            | In order for #[strong Smart Predictor] to better serve you with your personal writing style, please fill out this writing habit questionnaire so that our algorithm can provide you with tailored suggestions based on your answers.
        div.question
            br
            br
            | 6.  Please rate your abilities for each writing skill item below:
            br
            br
            table
                tr
                    td
                    td Never or almost never true of me
                    td Usually not true of me
                    td Somewhat true of me
                    td Usually true of me
                    td Always or almost always true of me 
                tr
                    td(class="header") I can effectively write under time constraints. 
                    td 
                        input(type='radio' name='I can effectively write under time constraints.' value='Never or almost never true of me')
                    td 
                        input(type='radio' name='I can effectively write under time constraints.' value='Usually not true of me')
                    td 
                        input(type='radio' name='I can effectively write under time constraints.' value='Somewhat true of me')
                    td 
                        input(type='radio' name='I can effectively write under time constraints.' value='Usually true of me')
                    td 
                        input(type='radio' name='I can effectively write under time constraints.' value='Always or almost always true of me')
                tr
                    td(class="header") I can write quickly in English as a native speaker.  
                    td 
                        input(type='radio' name='I can write quickly in English as a native speaker.' value='Never or almost never true of me')
                    td 
                        input(type='radio' name='I can write quickly in English as a native speaker.' value='Usually not true of me')
                    td 
                        input(type='radio' name='I can write quickly in English as a native speaker.' value='Somewhat true of me')
                    td 
                        input(type='radio' name='I can write quickly in English as a native speaker.' value='Usually true of me')
                    td 
                        input(type='radio' name='I can write quickly in English as a native speaker.' value='Always or almost always true of me')
                tr
                    td(class="header") I can logically support and develop my main point when writing. 
                    td 
                        input(type='radio' name='I can logically support and develop my main point when writing.' value='Never or almost never true of me')
                    td 
                        input(type='radio' name='I can logically support and develop my main point when writing.' value='Usually not true of me')
                    td 
                        input(type='radio' name='I can logically support and develop my main point when writing.' value='Somewhat true of me')
                    td 
                        input(type='radio' name='I can logically support and develop my main point when writing.' value='Usually true of me')
                    td 
                        input(type='radio' name='I can logically support and develop my main point when writing.' value='Always or almost always true of me')
                tr
                    td(class="header") I edit for content (ideas) as I am writing. 
                    td 
                        input(type='radio' name='I edit for content (ideas) as I am writing.' value='Never or almost never true of me')
                    td 
                        input(type='radio' name='I edit for content (ideas) as I am writing.' value='Usually not true of me')
                    td 
                        input(type='radio' name='I edit for content (ideas) as I am writing.' value='Somewhat true of me')
                    td 
                        input(type='radio' name='I edit for content (ideas) as I am writing.' value='Usually true of me')
                    td 
                        input(type='radio' name='I edit for content (ideas) as I am writing.' value='Always or almost always true of me')
                tr
                    td(class="header") I edit for organization as I am writing. 
                    td 
                        input(type='radio' name='I edit for organization as I am writing.' value='Never or almost never true of me')
                    td 
                        input(type='radio' name='I edit for organization as I am writing.' value='Usually not true of me')
                    td
                        input(type='radio' name='I edit for organization as I am writing.' value='Somewhat true of me')
                    td 
                        input(type='radio' name='I edit for organization as I am writing.' value='Usually true of me')
                    td 
                        input(type='radio' name='I edit for organization as I am writing.' value='Always or almost always true of me')
                tr
                    td(class="header") I like to change, or make my ideas clearer as I am writing. 
                    td 
                        input(type='radio' name='I like to change, or make my ideas clearer as I am writing.' value='Never or almost never true of me')
                    td 
                        input(type='radio' name='I like to change, or make my ideas clearer as I am writing.' value='Usually not true of me')
                    td 
                        input(type='radio' name='I like to change, or make my ideas clearer as I am writing.' value='Somewhat true of me')
                    td 
                        input(type='radio' name='I like to change, or make my ideas clearer as I am writing.' value='Usually true of me')
                    td 
                        input(type='radio' name='I like to change, or make my ideas clearer as I am writing.' value='Always or almost always true of me')
                tr
                    td(class="header") I use a dictionary to check things that I am not sure about when I write. 
                    td 
                        input(type='radio' name='I use a dictionary to check things that I am not sure about when I write.' value='Never or almost never true of me')
                    td 
                        input(type='radio' name='I use a dictionary to check things that I am not sure about when I write.' value='Usually not true of me')
                    td 
                        input(type='radio' name='I use a dictionary to check things that I am not sure about when I write.' value='Somewhat true of me')
                    td 
                        input(type='radio' name='I use a dictionary to check things that I am not sure about when I write.' value='Usually true of me')
                    td 
                        input(type='radio' name='I use a dictionary to check things that I am not sure about when I write.' value='Always or almost always true of me')
                tr
                    td(class="header") If I can’t think of a word, I can easily find another one that means that same thing. 
                    td 
                        input(type='radio' name='If I can’t think of a word, I can easily find another one that means that same thing.' value='Never or almost never true of me')
                    td 
                        input(type='radio' name='If I can’t think of a word, I can easily find another one that means that same thing.' value='Usually not true of me')
                    td 
                        input(type='radio' name='If I can’t think of a word, I can easily find another one that means that same thing.' value='Somewhat true of me')
                    td 
                        input(type='radio' name='If I can’t think of a word, I can easily find another one that means that same thing.' value='Usually true of me')
                    td 
                        input(type='radio' name='If I can’t think of a word, I can easily find another one that means that same thing.' value='Always or almost always true of me')
                tr
                    td(class="header") I can appropriately adjust the tone and style of my writing to fit the needs of particular readers. 
                    td 
                        input(type='radio' name='I can appropriately adjust the tone and style of my writing to fit the needs of particular readers.' value='Never or almost never true of me')
                    td 
                        input(type='radio' name='I can appropriately adjust the tone and style of my writing to fit the needs of particular readers.' value='Usually not true of me')
                    td 
                        input(type='radio' name='I can appropriately adjust the tone and style of my writing to fit the needs of particular readers.' value='Somewhat true of me')
                    td 
                        input(type='radio' name='I can appropriately adjust the tone and style of my writing to fit the needs of particular readers.' value='Usually true of me')
                    td 
                        input(type='radio' name='I can appropriately adjust the tone and style of my writing to fit the needs of particular readers.' value='Always or almost always true of me')
                tr
                    td(class="header") I always have a clear outline in my mind before writing. 
                    td 
                        input(type='radio' name='I always have a clear outline in my mind before writing.' value='Never or almost never true of me')
                    td 
                        input(type='radio' name='I always have a clear outline in my mind before writing.' value='Usually not true of me')
                    td 
                        input(type='radio' name='I always have a clear outline in my mind before writing.' value='Somewhat true of me')
                    td 
                        input(type='radio' name='I always have a clear outline in my mind before writing.' value='Usually true of me')
                    td 
                        input(type='radio' name='I always have a clear outline in my mind before writing.' value='Always or almost always true of me')
                tr
                    td(class="header") After writing, I go back to my content and revise for clarity. 
                    td 
                        input(type='radio' name='After writing, I go back to my content and revise for clarity.' value='Never or almost never true of me')
                    td 
                        input(type='radio' name='After writing, I go back to my content and revise for clarity.' value='Usually not true of me')
                    td 
                        input(type='radio' name='After writing, I go back to my content and revise for clarity.' value='Somewhat true of me')
                    td 
                        input(type='radio' name='After writing, I go back to my content and revise for clarity.' value='Usually true of me')
                    td 
                        input(type='radio' name='After writing, I go back to my content and revise for clarity.' value='Always or almost always true of me')
            br
            button(id='next') Next 