doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/questionnaire.css')
        script(src='/javascripts/questionnaire5.js')
    body
        div.tutorial-body
            | In order to better serve you with your personal writing style, please fill out this writing habit questionnaire so that our algorithm can provide you with tailored suggestions based on your answers.  
        div.q5
            br
            | 5. In general, which perspective(s) of writing an email would you need the most help with from us? Check all that apply. 
            br
            input(type='checkbox' name='1')
            label(for='1') Formal language
            br
            input(type='checkbox' name='2')
            label(for='2') Organization and transition 
            br
            input(type='checkbox' name='3')
            label(for='3') Spelling and grammar 
            br
            input(type='checkbox' name='4')
            label(for='4') Range of vocabulary 
            br
            input(type='checkbox' name='5')
            label(for='5') Punctuation and sentence structure 
            br
            input(type='checkbox' name='6')
            label(for='6') Styles and tones 
            br
            input(type='checkbox' name='7')
            label(for='7') Effect of the target audience 
            br
            input(type='checkbox' name='8')
            label(for='8') Clarity and conciseness 
            br
        button(id='next') Next 