doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/questionnaire.css')
        script(src='/javascripts/questionnaire6.js')
    body
        div.tutorial-body
            | #[strong Instructions:]
            br
            br
            | In order to better serve you with your personal writing style, please fill out this writing habit questionnaire so that our algorithm can provide you with tailored suggestions based on your answers.  
        div.q6
            br
            | 6.  Please rate your abilities for each writing skill item below:
            table
                tr
                    th
                    th Never or almost never true of me
                    th Usually not true of me
                    th Somewhat true of me
                    th Usually true of me
                    th Always or almost always true of me 
                tr
                    th I can effectively write under time constraints. 
                    td 
                        input(type='radio' name='39')
                    td 
                        input(type='radio' name='39')
                    td 
                        input(type='radio' name='39')
                    td 
                        input(type='radio' name='39')
                    td 
                        input(type='radio' name='39')
                tr
                    th I can write quickly in English as a native speaker.  
                    td 
                        input(type='radio' name='40')
                    td 
                        input(type='radio' name='40')
                    td 
                        input(type='radio' name='40')
                    td 
                        input(type='radio' name='40')
                    td 
                        input(type='radio' name='40')
                tr
                    th I can logically support and develop my main point when writing. 
                    td 
                        input(type='radio' name='41')
                    td 
                        input(type='radio' name='41')
                    td 
                        input(type='radio' name='41')
                    td 
                        input(type='radio' name='41')
                    td 
                        input(type='radio' name='41')
                tr
                    th I edit for content (ideas) as I am writing. 
                    td 
                        input(type='radio' name='42')
                    td 
                        input(type='radio' name='42')
                    td 
                        input(type='radio' name='42')
                    td 
                        input(type='radio' name='42')
                    td 
                        input(type='radio' name='42')
                tr
                    th I edit for organization as I am writing. 
                    td 
                        input(type='radio' name='43')
                    td 
                        input(type='radio' name='43')
                    td 
                        input(type='radio' name='43')
                    td 
                        input(type='radio' name='43')
                    td 
                        input(type='radio' name='43')
                tr
                    th I like to change, or make my ideas clearer as I am writing. 
                    td 
                        input(type='radio' name='44')
                    td 
                        input(type='radio' name='44')
                    td 
                        input(type='radio' name='44')
                    td 
                        input(type='radio' name='44')
                    td 
                        input(type='radio' name='44')
                tr
                    th I use a dictionary to check things that I am not sure about when I write. 
                    td 
                        input(type='radio' name='45')
                    td 
                        input(type='radio' name='45')
                    td 
                        input(type='radio' name='45')
                    td 
                        input(type='radio' name='45')
                    td 
                        input(type='radio' name='45')
                tr
                    th If I can’t think of a word, I can easily find another one that means that same thing. 
                    td 
                        input(type='radio' name='46')
                    td 
                        input(type='radio' name='46')
                    td 
                        input(type='radio' name='46')
                    td 
                        input(type='radio' name='46')
                    td 
                        input(type='radio' name='46')
                tr
                    th I can appropriately adjust the tone and style of my writing to fit the needs of particular readers. 
                    td 
                        input(type='radio' name='47')
                    td 
                        input(type='radio' name='47')
                    td 
                        input(type='radio' name='47')
                    td 
                        input(type='radio' name='47')
                    td 
                        input(type='radio' name='47')
                tr
                    th I always have a clear outline in my mind before writing. 
                    td 
                        input(type='radio' name='48')
                    td 
                        input(type='radio' name='48')
                    td 
                        input(type='radio' name='48')
                    td 
                        input(type='radio' name='48')
                    td 
                        input(type='radio' name='48')
                tr
                    th After writing, I go back to my content and revise for clarity. 
                    td 
                        input(type='radio' name='49')
                    td 
                        input(type='radio' name='49')
                    td 
                        input(type='radio' name='49')
                    td 
                        input(type='radio' name='49')
                    td 
                        input(type='radio' name='49')
        br
        button(id='next') Next 