doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/survey.css')
        script(src='/javascripts/survey-3-4.js')
    body
        div.question
            | How many internet-accessing devices, if any, do you have reliable access to (e.g., mobile smartphone, tablet, personal computer, etc)?  (insert number only) 
            input(type="text" id=devices)
            br
            br
            button(id='next') Next