doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/survey.css')
        script(src='/javascripts/survey-3-2.js')
    body
        div(class="pbar")
            div(class="completed" id="completed")
        br
        div.question
            | Please indicate to what extent you agree or disagree with the following statements.
            br
            br
            br
            table(id='table')
            br
            br
            button(id='next') Next