doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/survey.css')
        script(src='/javascripts/survey-1-1.js')
    body
        div(class="pbar")
            div(class="completed" id="completed")
        br
        div.question
            | For each word below, please indicate how well it describes #[strong #{algorithm}] as a predictive typing suggestion algorithm. Click the circle that is closest to how you feel about Smart Predictor.
            br
            br
            br
            table(id='table')
            br
            br
            button(id='next') Next