doctype html
html
    head
        link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
        link(rel='stylesheet' href='/stylesheets/survey.css')
        script(src='/javascripts/survey_gen_5.js')
    body
        div(class="pbar")
            div(class="completed" id="completed")
        br
        div.question
            | When responding to the emails, did you at any time use any browser extensions or add-ons (e.g., Grammarly) to assist you while you were typing? It is important for our research that you answer this question honestly and so please know that your response has no impact on your payment.
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='extension' value=1)
                    td 
                        input(type='radio' name='extension' value=0)
                    td 
                tr
                    td Yes
                    td No
                    td 
            br
            br
            br
            | Besides the 1-minute break we gave you, did you take another break at any time while completing this study? Again, your answer to this question will not affect your payment. Thank you! 
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='break' value=1)
                    td 
                        input(type='radio' name='break' value=0)
                    td 
                tr
                    td Yes
                    td No
                    td 
            br
            br
            button(id='next') Next