doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/survey.css')
        script(src='/javascripts/survey-2.js')
    body
        div(class="pbar")
            div(class="completed" id="completed")
        br
        div.body
            | Now you have experienced working with #[strong #{algorithm}] to assist you in drafting email responses. We would love to hear some feedback from you regarding your experience in the next few pages.
            br
            br
            | Your responses are extremely important to the result of this study. We highly appreciate it if you answer the questions as authentically as you can. 
            br
            br
            input(type="checkbox" id="understand")
            | Please check the box to show you understand the instructions.
            br
            br
            button(id='next') Next