doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/survey.css')
        script(src='/javascripts/survey-3.js')
    body
        div.body
            | #[strong Instruction:] The final session asks you questions about your knowledge of algorithms in general. Again your answers to these questions will not be linked to your identity, and will not affect your payment. 
            br
            br
            | Your responses are extremely important to the result of this study. We highly appreciate it if you answer the questions as authentically as you can. 
            br
            br
            button(id='next') Next