doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/survey.css')
        script(src='/javascripts/survey-3-2.js')
    body
        div.question
            | Please indicate to what extent you agree or disagree with the following statements: (1 - Strongly disagree, 2- disagree, 3 - somewhat agree, 4 - neither disagree nor agree, 5- somewhat agree, 6 - agree, 7- strongly agree) 
            br
            br
            br
            | Compared with humans, algorithms have no intentions.
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='intention' value=1)
                    td 
                        input(type='radio' name='intention' value=2)
                    td 
                        input(type='radio' name='intention' value=3)
                    td 
                        input(type='radio' name='intention' value=4)
                    td 
                        input(type='radio' name='intention' value=5)
                    td 
                        input(type='radio' name='intention' value=6)
                    td 
                        input(type='radio' name='intention' value=7)
                tr
                    td Strongly disagree 
                    td Disagree
                    td Somewhat agree
                    td Neither disagree nor agree
                    td Somewhat agree
                    td Agree
                    td Strongly agree
            br
            br
            br
            | Compared with humans, algorithms are more objective.
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='objective' value=1)
                    td 
                        input(type='radio' name='objective' value=2)
                    td 
                        input(type='radio' name='objective' value=3)
                    td 
                        input(type='radio' name='objective' value=4)
                    td 
                        input(type='radio' name='objective' value=5)
                    td 
                        input(type='radio' name='objective' value=6)
                    td 
                        input(type='radio' name='objective' value=7)
                tr
                    td Strongly disagree 
                    td Disagree
                    td Somewhat agree
                    td Neither disagree nor agree
                    td Somewhat agree
                    td Agree
                    td Strongly agree
            br
            br
            br
            | Compared with humans, algorithms have no bias.
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='bias' value=1)
                    td 
                        input(type='radio' name='bias' value=2)
                    td 
                        input(type='radio' name='bias' value=3)
                    td 
                        input(type='radio' name='bias' value=4)
                    td 
                        input(type='radio' name='bias' value=5)
                    td 
                        input(type='radio' name='bias' value=6)
                    td 
                        input(type='radio' name='bias' value=7)
                tr
                    td Strongly disagree 
                    td Disagree
                    td Somewhat agree
                    td Neither disagree nor agree
                    td Somewhat agree
                    td Agree
                    td Strongly agree
            br
            br
            button(id='next') Next