doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/survey.css')
        script(src='/javascripts/survey_gen_1.js')
    body
        div(class="pbar")
            div(class="completed" id="completed")
        br
        div.question
            | Please indicate to what extent you are aware of predictive algorithms in Gmail.
            br
            br
            br
            table(id='table')
            br
            br
            button(id='next') Next