doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/survey.css')
        script(src='/javascripts/survey-3-1.js')
    body
        div(class="pbar")
            div(class="completed" id="completed")
        br
        div.question
            | Please indicate to which extent you are aware of the following statements about predictive algorithms such as Smart Compose in Gmail.
            br
            br
            br
            | Algorithms are used to recommend suggestions to me on Gmail.
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='recommend' value=1)
                    td 
                        input(type='radio' name='recommend' value=2)
                    td 
                        input(type='radio' name='recommend' value=3)
                    td 
                        input(type='radio' name='recommend' value=4)
                    td 
                        input(type='radio' name='recommend' value=5)
                    td 
                        input(type='radio' name='recommend' value=6)
                    td 
                        input(type='radio' name='recommend' value=7)
                tr
                    td Not at all

                    td 

                    td Somehow unaware

                    td  

                    td Somehow aware

                    td  

                    td Completely aware
            br
            br
            br
            | Algorithms are used to prioritize certain suggestions above others.
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='prioritize' value=1)
                    td 
                        input(type='radio' name='prioritize' value=2)
                    td 
                        input(type='radio' name='prioritize' value=3)
                    td 
                        input(type='radio' name='prioritize' value=4)
                    td 
                        input(type='radio' name='prioritize' value=5)
                    td 
                        input(type='radio' name='prioritize' value=6)
                    td 
                        input(type='radio' name='prioritize' value=7)
                tr
                    td Not at all

                    td 

                    td Somehow unaware

                    td  

                    td Somehow aware

                    td  

                    td Completely aware
            br
            br
            br
            | Algorithms are used to tailor certain suggestions to me on Gmail.
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='tailor' value=1)
                    td 
                        input(type='radio' name='tailor' value=2)
                    td 
                        input(type='radio' name='tailor' value=3)
                    td 
                        input(type='radio' name='tailor' value=4)
                    td 
                        input(type='radio' name='tailor' value=5)
                    td 
                        input(type='radio' name='tailor' value=6)
                    td 
                        input(type='radio' name='tailor' value=7)
                tr
                    td Not at all

                    td 

                    td Somehow unaware

                    td  

                    td Somehow aware

                    td  

                    td Completely aware
            br
            br
            br
            | Algorithms are used to show someone else different suggestions than I get to see on Gmail. 
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='show' value=1)
                    td 
                        input(type='radio' name='show' value=2)
                    td 
                        input(type='radio' name='show' value=3)
                    td 
                        input(type='radio' name='show' value=4)
                    td 
                        input(type='radio' name='show' value=5)
                    td 
                        input(type='radio' name='show' value=6)
                    td 
                        input(type='radio' name='show' value=7)
                tr
                    td Not at all

                    td 

                    td Somehow unaware

                    td  

                    td Somehow aware

                    td  

                    td Completely aware
            br
            br
            br
            | Algorithms are used to show me suggestions on Gmail based on automated decisions. 
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='suggest' value=1)
                    td 
                        input(type='radio' name='suggest' value=2)
                    td 
                        input(type='radio' name='suggest' value=3)
                    td 
                        input(type='radio' name='suggest' value=4)
                    td 
                        input(type='radio' name='suggest' value=5)
                    td 
                        input(type='radio' name='suggest' value=6)
                    td 
                        input(type='radio' name='suggest' value=7)
                tr
                    td Not at all

                    td 

                    td Somehow unaware

                    td  

                    td Somehow aware

                    td  

                    td Completely aware
            br
            br
            br
            | Algorithms do not require human judgments in deciding which suggestions to show me on Gmail.
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='human' value=1)
                    td 
                        input(type='radio' name='human' value=2)
                    td 
                        input(type='radio' name='human' value=3)
                    td 
                        input(type='radio' name='human' value=4)
                    td 
                        input(type='radio' name='human' value=5)
                    td 
                        input(type='radio' name='human' value=6)
                    td 
                        input(type='radio' name='human' value=7)
                tr
                    td Not at all

                    td 

                    td Somehow unaware

                    td  

                    td Somehow aware

                    td  

                    td Completely aware
            br
            br
            br
            | Algorithms make automated decisions on what suggestions I get to see on Gmail.
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='automated' value=1)
                    td 
                        input(type='radio' name='automated' value=2)
                    td 
                        input(type='radio' name='automated' value=3)
                    td 
                        input(type='radio' name='automated' value=4)
                    td 
                        input(type='radio' name='automated' value=5)
                    td 
                        input(type='radio' name='automated' value=6)
                    td 
                        input(type='radio' name='automated' value=7)
                tr
                    td Not at all

                    td 

                    td Somehow unaware

                    td  

                    td Somehow aware

                    td  

                    td Completely aware
            br
            br
            br
            | The suggestions that algorithms recommend to me on Gmail depend on my online behavior on that platform.
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='platform' value=1)
                    td 
                        input(type='radio' name='platform' value=2)
                    td 
                        input(type='radio' name='platform' value=3)
                    td 
                        input(type='radio' name='platform' value=4)
                    td 
                        input(type='radio' name='platform' value=5)
                    td 
                        input(type='radio' name='platform' value=6)
                    td 
                        input(type='radio' name='platform' value=7)
                tr
                    td Not at all

                    td 

                    td Somehow unaware

                    td  

                    td Somehow aware

                    td  

                    td Completely aware
            br
            br
            br
            | The suggestions that algorithms recommend to me on Gmail depend on my online behavioral data.
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='data' value=1)
                    td 
                        input(type='radio' name='data' value=2)
                    td 
                        input(type='radio' name='data' value=3)
                    td 
                        input(type='radio' name='data' value=4)
                    td 
                        input(type='radio' name='data' value=5)
                    td 
                        input(type='radio' name='data' value=6)
                    td 
                        input(type='radio' name='data' value=7)
                tr
                    td Not at all

                    td 

                    td Somehow unaware

                    td  

                    td Somehow aware

                    td  

                    td Completely aware
            br
            br
            br
            | The suggestions that algorithms recommend to me on Gmail depend on the data that I make available online.
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='online' value=1)
                    td 
                        input(type='radio' name='online' value=2)
                    td 
                        input(type='radio' name='online' value=3)
                    td 
                        input(type='radio' name='online' value=4)
                    td 
                        input(type='radio' name='online' value=5)
                    td 
                        input(type='radio' name='online' value=6)
                    td 
                        input(type='radio' name='online' value=7)
                tr
                    td Not at all

                    td 

                    td Somehow unaware

                    td  

                    td Somehow aware

                    td  

                    td Completely aware
            br
            br
            br
            | It is not always transparent why algorithms decide to show me certain suggestions on Gmail. 
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='transparent' value=1)
                    td 
                        input(type='radio' name='transparent' value=2)
                    td 
                        input(type='radio' name='transparent' value=3)
                    td 
                        input(type='radio' name='transparent' value=4)
                    td 
                        input(type='radio' name='transparent' value=5)
                    td 
                        input(type='radio' name='transparent' value=6)
                    td 
                        input(type='radio' name='transparent' value=7)
                tr
                    td Not at all

                    td 

                    td Somehow unaware

                    td  

                    td Somehow aware

                    td  

                    td Completely aware
            br
            br
            br
            | The suggestions that algorithms recommend to me on Gmail can be subjected to human biases such as prejudices and stereotypes. 
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='prejudice' value=1)
                    td 
                        input(type='radio' name='prejudice' value=2)
                    td 
                        input(type='radio' name='prejudice' value=3)
                    td 
                        input(type='radio' name='prejudice' value=4)
                    td 
                        input(type='radio' name='prejudice' value=5)
                    td 
                        input(type='radio' name='prejudice' value=6)
                    td 
                        input(type='radio' name='prejudice' value=7)
                tr
                    td Not at all

                    td 

                    td Somehow unaware

                    td  

                    td Somehow aware

                    td  

                    td Completely aware
            br
            br
            br
            | Algorithms use my personal data to recommend certain suggestions on Gmail, and this has consequences for my online privacy. 
            br
            br
            table
                tr
                    td 
                        input(type='radio' name='consequence' value=1)
                    td 
                        input(type='radio' name='consequence' value=2)
                    td 
                        input(type='radio' name='consequence' value=3)
                    td 
                        input(type='radio' name='consequence' value=4)
                    td 
                        input(type='radio' name='consequence' value=5)
                    td 
                        input(type='radio' name='consequence' value=6)
                    td 
                        input(type='radio' name='consequence' value=7)
                tr
                    td Not at all

                    td 

                    td Somehow unaware

                    td  

                    td Somehow aware

                    td  

                    td Completely aware
            br
            br
            button(id='next') Next