doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/survey.css')
        script(src='/javascripts/survey-1-1.js')
    body
        div(class="pbar")
            div(class="completed" id="completed")
        br
        div.question
            | For each word below, please indicate how well it describes #[strong #{algorithm}] as a predictive typing suggestion algorithm
            br
            br
            table(id='table')
                //- tr
                //-     td Incompetent
                //-     td 
                //-         input(type='radio' name='competent' value=1)
                //-     td 
                //-         input(type='radio' name='competent' value=2)
                //-     td 
                //-         input(type='radio' name='competent' value=3)
                //-     td 
                //-         input(type='radio' name='competent' value=4)
                //-     td 
                //-         input(type='radio' name='competent' value=5)
                //-     td 
                //-         input(type='radio' name='competent' value=6)
                //-     td 
                //-         input(type='radio' name='competent' value=7)
                //-     td Competent
                //- tr
                //-     td Nonexpert 
                //-     td 
                //-         input(type='radio' name='expert' value=1)
                //-     td 
                //-         input(type='radio' name='expert' value=2)
                //-     td 
                //-         input(type='radio' name='expert' value=3)
                //-     td 
                //-         input(type='radio' name='expert' value=4)
                //-     td 
                //-         input(type='radio' name='expert' value=5)
                //-     td 
                //-         input(type='radio' name='expert' value=6)
                //-     td 
                //-         input(type='radio' name='expert' value=7)
                //-     td Expert
                //- tr
                //-     td Untrustworthy 
                //-     td 
                //-         input(type='radio' name='trustworthy' value=1)
                //-     td 
                //-         input(type='radio' name='trustworthy' value=2)
                //-     td 
                //-         input(type='radio' name='trustworthy' value=3)
                //-     td 
                //-         input(type='radio' name='trustworthy' value=4)
                //-     td 
                //-         input(type='radio' name='trustworthy' value=5)
                //-     td 
                //-         input(type='radio' name='trustworthy' value=6)
                //-     td 
                //-         input(type='radio' name='trustworthy' value=7)
                //-     td Trustworthy
                //- tr
                //-     td Nontransparent 
                //-     td 
                //-         input(type='radio' name='transparent' value=1)
                //-     td 
                //-         input(type='radio' name='transparent' value=2)
                //-     td 
                //-         input(type='radio' name='transparent' value=3)
                //-     td 
                //-         input(type='radio' name='transparent' value=4)
                //-     td 
                //-         input(type='radio' name='transparent' value=5)
                //-     td 
                //-         input(type='radio' name='transparent' value=6)
                //-     td 
                //-         input(type='radio' name='transparent' value=7)
                //-     td Transparent 
                //- tr
                //-     td Unfair 
                //-     td 
                //-         input(type='radio' name='fair' value=1)
                //-     td 
                //-         input(type='radio' name='fair' value=2)
                //-     td 
                //-         input(type='radio' name='fair' value=3)
                //-     td 
                //-         input(type='radio' name='fair' value=4)
                //-     td 
                //-         input(type='radio' name='fair' value=5)
                //-     td 
                //-         input(type='radio' name='fair' value=6)
                //-     td 
                //-         input(type='radio' name='fair' value=7)
                //-     td Fair 
                //- tr
                //-     td Malevolent 
                //-     td 
                //-         input(type='radio' name='benevolent' value=1)
                //-     td 
                //-         input(type='radio' name='benevolent' value=2)
                //-     td 
                //-         input(type='radio' name='benevolent' value=3)
                //-     td 
                //-         input(type='radio' name='benevolent' value=4)
                //-     td 
                //-         input(type='radio' name='benevolent' value=5)
                //-     td 
                //-         input(type='radio' name='benevolent' value=6)
                //-     td 
                //-         input(type='radio' name='benevolent' value=7)
                //-     td Benevolent 
                //- tr
                //-     td Noncredible 
                //-     td 
                //-         input(type='radio' name='credible' value=1)
                //-     td 
                //-         input(type='radio' name='credible' value=2)
                //-     td 
                //-         input(type='radio' name='credible' value=3)
                //-     td 
                //-         input(type='radio' name='credible' value=4)
                //-     td 
                //-         input(type='radio' name='credible' value=5)
                //-     td 
                //-         input(type='radio' name='credible' value=6)
                //-     td 
                //-         input(type='radio' name='credible' value=7)
                //-     td Credible 
                //- tr
                //-     td Unbiased
                //-     td 
                //-         input(type='radio' name='biased' value=7)
                //-     td 
                //-         input(type='radio' name='biased' value=6)
                //-     td 
                //-         input(type='radio' name='biased' value=5)
                //-     td 
                //-         input(type='radio' name='biased' value=4)
                //-     td 
                //-         input(type='radio' name='biased' value=3)
                //-     td 
                //-         input(type='radio' name='biased' value=2)
                //-     td 
                //-         input(type='radio' name='biased' value=1)
                //-     td Biased 
            br
            br
            button(id='next') Next