doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/lz-string.min.js')
    script(src='/javascripts/predictionary.min.js')
    script(src='/javascripts/test.js')

  body
    div(class="pbar")
      div(class="completed" id="completed")
    br
    div.tutorial-body
      | #[strong THIS PAGE IS FOR TESTING PURPOSES]
      br
      br
      ol
        li Welcome to session TEST! In this session you will be working with #[strong GPT-3], a language model developed by OpenAI.
        li New predictive text is generated as soon as you type a period to end a sentence. 
        li You may have to wait a bit for the input to be sent to the Heroku server which forwards the request to the OpenAI server. The response returns in the reverse order.
        li In this demo, no data is written to the database.
        li I've found that the model excels at generating more creative text.
        li Please try and break it 😊 .
    div.message-body
      img.gmail(src='/images/gmail.png')
      div.subject Re: Sell car
      div.metadata 
        span.left-justify Car Sales Co. Team 
        span(class='right-justify' id='time') 9:15 AM (#{hours} hours ago)
        br
        | to You 
      div(class='message' id='message')
        pre(id='message-text')
          | Hi friend!
          br
          br
          | I hope all is well. It’s been a while since we’ve caught up so I’m just checking in. How are things? What’s new? How is your family? Since the last time we talked, I’ve reorganized my home workspace about three times, binge-watched too many shows on Netflix, and tried a whole lot of new recipes to escape boredom. So, if you have any show recommendations or food ideas please send them my way. The other day I was reminiscing about our past summer escapades. Have you gotten to go anywhere or do anything cool over summer? If so, let me know! You know I’m always trying to add to my adventure list. Also, I’ll be in town over the holidays. Let me know if you are free at all to grab coffee. Miss you old friend!
          br
          br
          | Best, 
          br
          | Alex 
    div.response-body
      div.reply-body
        div.recipient 
          span(class='to' id='to') To: Alex
          br
          br
          div(class='container' id='container')
            div(class='backdrop' id='backdrop')
              div(class='predictions' id='predictions')
            textarea(id='email' name='email' spellcheck='false')
          br
          button(class='send' id='send-tutorial-1' tabindex='-1') Send
          span(class='wordcount' id='wordcount') 0
          span(class='wc_label') Word Count:&nbsp
          span(class='wc_error' id='wc_error')
          p(hidden id='b') 0
          div(class='typing')
            span(class='typing__bullet')
            span(class='typing__bullet')
            span(class='typing__bullet')