doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/temp.css')
    script(src='/javascripts/test.js')

  body
    input(type='text' placeholder='type here' id='message-input' class='card__input')
    div(class='typing')
      span(class='typing__bullet')
      span(class='typing__bullet')
      span(class='typing__bullet')