doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/minimal.css')
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/lz-string.min.js')
    script(src='/javascripts/predictionary.min.js')
    script(src='/javascripts/email.js')

  body
    div.tutorial-body
      | #[strong THIS IS A TUTORIAL]
      br
      br
      ol
        li Type your response in the text box below. 
        li If gray text appears after your cursor, you have the option of pressing TAB on your keyboard to autocomplete.
        li In the live page (not this tutorial), you must write at least 100 words in order to submit.
        li Click the SEND button to submit your response and progress to the next email.
    div.message-body
      div.subject Re: Trying to buy used car
      div.metadata 
        span.left-justify Bailey Hobbs
        span(class='right-justify' id='time') 9:15 AM (#{hours} hours ago)
        br
        | to You 
      div(class='message' id='message')
        pre(id='message-text')
          | Hello,
          br
          br
          | Thank you for your response to my Craigslist posting and for your interest in buying my car. The car is a 2018 in relatively good condition. Please let me know if you have any questions, and please let me know your availability to do a test drive.
          br
          br
          | Best, 
          br
          | Bailey Hobbs
    div.response-body
      div.reply-body
        div.recipient 
          span(class='to' id='to') To: Bailey Hobbs 
          br
          br
          div(class='container' id='container')
            div(class='backdrop' id='backdrop')
              div(class='predictions' id='predictions')
            textarea(id='email' name='email')
          br
          button(class='send' id='send-tutorial-0' tabindex='-1') Send
          span(class='wordcount' id='wordcount') 0
          span(class='wc_label') Word Count:&nbsp
          span(class='wc_error' id='wc_error')
          p(hidden id='b') 0