doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/style.css')
        script(src='/javascripts/tt1.js')
    body
        div.tutorial-body
            p
            | You will now proceed to the live experiment.
            br
            br
            | #[strong INSTRUCTIONS]
            hr
            | 1. Each response should include at least 100 words.
            br
            | 2. Do not navigate with your browser's address bar or back arrow.
            br
            | 3. Responses cannot be edited once submitted.
            br
            br
            | Click the button below to proceed.
            br
            br
            button(class='tt1' id='tt1' tabindex='-1') Begin