doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/minimal.css')
        script(src='/javascripts/tt0.js')
    body
        div.tutorial-body
            p
            | Please remember that the writing questionnaire you completed earlier will NOT be used when working with Ringgo in this session.
            br
            br
            | #[strong INSTRUCTIONS]
            hr
            | 1. You will respond to 4 emails.
            br
            br
            | Click the button below to proceed.
            br
            br
            button(class='tt0' id='tt0' tabindex='-1') Begin
        