doctype html
html
    head
        link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
        link(rel='stylesheet' href='/stylesheets/minimal.css')
        script(src='/javascripts/tutorial_transition_0.js')
    body
        div(class="pbar")
            div(class="completed" id="completed")
        br
        div.tutorial-body
            p
            | Please remember that the writing questionnaire you completed earlier <u>#[strong will NOT]</u> be used when working with #[strong CS Predictor] in this session.
            br
            br
            | #[strong INSTRUCTIONS]
            hr
            | 1. You will respond to 4 emails.
            br
            br
            | Click the button below to proceed.
            br
            br
            button(class='tutorial_transition_0' id='tutorial_transition_0' tabindex='-1') Begin
        