doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/lz-string.min.js')
    script(src='/javascripts/predictionary.min.js')
    script(src='/javascripts/email.js')

  body
    div.tutorial-body
      | #[strong THIS IS A TUTORIAL]
      br
      br
      ol
        li Type your response in the text box below. 
        li If gray text appears after your cursor, you have the option of pressing TAB on your keyboard to autocomplete.
        li In the live page (not this tutorial), you must write at least 100 words in order to submit.
        li Click the SEND button to submit your response and progress to the next email.
    div.message-body
      div.subject Re: Your car's extended warranty
      div.metadata 
        span.left-justify Car Owner's Association
        span(class='right-justify' id='time') 9:15 AM (#{hours} hours ago)
        br
        | to You 
      div(class='message' id='message')
        pre(id='message-text')
          | Hello vehicle owner,
          br
          br
          | We've been trying to reach you concerning your vehicle's extended warranty. You should've received a notice in the mail about your car's extended warranty eligibility. Since we've not gotten a response, we're giving you a final courtesy call before we close out your file. Press 2 to be removed and placed on our do-not-call list. To speak to someone about possibly extending or reinstating your vehicle's warranty, press 1 to speak with a warranty specialist.
          br
          br
          | Best, 
          br
          | Dave
    div.response-body
      div.reply-body
        div.recipient 
          span(class='to' id='to') To: Car Owner's Association
          br
          br
          div(class='container' id='container')
            div(class='backdrop' id='backdrop')
              div(class='predictions' id='predictions')
            textarea(id='email' name='email')
          br
          button(class='send' id='send-tutorial-1' tabindex='-1') Send
          span(class='wordcount' id='wordcount') 0
          span(class='wc_label') Word Count:&nbsp
          span(class='wc_error' id='wc_error')
          p(hidden id='b') 0