doctype html
html
    head
        link(rel='stylesheet' href='/stylesheets/style.css')
        script(src='/javascripts/tt1.js')
    body
        div.tutorial-body
            p
            | You will now proceed to the live experiment. The writing questionnaire you completed earlier is now fully integrated into the Smart Predictor’s suggestion system. It is ready to provide the most personalized typing suggestions to you. 
            br
            br
            | #[strong INSTRUCTIONS]
            hr
            | 1. You will respond to 4 emails. 
            br
            br
            | Click the button below to proceed.
            br
            br
            button(class='tt1' id='tt1' tabindex='-1') Begin