doctype html
html
  head
    script(src='/javascripts/welcome_2.js')
    link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
    link(rel='stylesheet' href='/stylesheets/welcome.css')
  body
    div(class="pbar")
      div(class="completed" id="completed")
    br
    div.instructions
      | First, you will complete a writing habit questionnaire in order for #[strong Smart Predictor] to build a hyper-personalized algorithm that is unique to your writing style. 
      br
      br
      | Then, you will either start with #[strong Smart Predictor] or #[strong CS Predictor] to complete a series of email response tasks.
      br
      br
      | Afterwards, you will fill out a survey regarding your user experience. 
      br
      br
      | An interactive tutorial will always be provided before the live sessions for you to familiarize and experiment with the functionalities of both algorithms. 
      br
      br
      | Once you understand these instructions, click NEXT to start the writing habit questionnaire.
      br
      br
      input(type="checkbox" id="understand")
      | Please check the box to show you understand the instructions. 
      br
      br
    button(class='next' id='next') Next 