doctype html
html
  head
    script(src='/javascripts/welcome1.js')
    link(rel='stylesheet' href='/stylesheets/welcome1.css')
  body
    div.instructions
      | Welcome to our experiment! 
      br
      br
      | You will be helping us test the usability of TWO different predictive algorithms designed to provide you with typing suggestions while we ask you to respond to a series of tasks: #[strong Smart Predictor] and #[strong Ringgo].
      br
      br
      | #[strong Smart Predictor] is designed by the Computer Science Department at UC Santa Barbara in collaboration with Google’s Smart Compose Team. It is a highly personalized algorithm that learns from your typing patterns over time and provides you with typing suggestions that are tailored towards your own writing styles.  
      br
      br
      | #[strong Ringgo] is developed by a group of undergraduate students for their AI Programming course project. It provides you with typing suggestions that a majority of users would have typed based on the probability model.  
      br
      br
      | We are assessing how you naturally use these two unique algorithms.
      br
      br
    button(class='next' id='next') Next 