doctype html
html
  head
    script(src='/javascripts/welcome2.js')
    link(rel='stylesheet' href='/stylesheets/welcome1.css')
  body
    div.instructions
      | At the beginning of the experiment, you will complete a writing habit questionnaire in order for the #[strong Smart Predictor] to build a hyper personalized algorithm that is unique to your writing style in advance. Then, in a random order, you will either start with the #[strong Smart Predictor] or the #[strong Ringgo] to complete a series of email response tasks, and afterwards, fill out a survey regarding your user experience. An interactive tutorial will always be provided before the live sessions for you to familiarize and experiment with the functionalities of both algorithms. 
      br
      br
    button(class='next' id='next') Next 