doctype html
html
  head
    script(src='/javascripts/welcome3.js')
    link(rel='stylesheet' href='/stylesheets/welcome1.css')
  body
    div.instructions
      | Your responses are extremely important to the development of our algorithms. We highly appreciate it if you follow the instructions step by step and answer the questions as authentically as you can. 
      br
      br
    button(class='next' id='next') Next 