doctype html
html
  head
    script(src='/javascripts/welcome4.js')
    link(rel='stylesheet' href='/stylesheets/welcome1.css')
  body
    div(class="pbar")
      div(class="completed" id="completed")
    br
    div.instructions
      | Regardless of how frequently you use predictive text algorithms in your daily life, for this demo, we would like you to try to use the predictive text algorithms as much as possible.
      br
      br
      input(type="checkbox" id="understand")
      | Please check the box to show you understand the instructions. 
      br
      br
    button(class='next' id='next') Start Tutorial 