doctype html
html
  head
    script(src='/javascripts/welcome3.js')
    link(rel='stylesheet' href='/stylesheets/welcome1.css')
  body
    div(class="pbar")
      div(class="completed" id="completed")
    br
    div.instructions
      | You are about to begin the #[strong writing habits questionnaire] created by Google’s Smart Compose Team. Please follow these instructions step-by-step and answer questions as authentically as you can to develop a hyper-personalized predictive algorithm.
      br
      br
      input(type="checkbox" id="understand")
      | Please check the box to show you understand the instructions. 
      br
      br
    button(class='next' id='next') Start Writing Habits Questionnaire