body {
  padding: 30px;
  font-size: 14px;
  font-family: monospace;
}

div.pbar {
  width: 940px;
  height: 25px;
  background-color: #dbdbdb;
  border-radius: 15px;
  margin: auto;
}

div.completed {
  background-color: #6ed6ff;
  height: 25px;
  border-radius: 15px;
}

div.subject {
  font-size: 14px;
}

div.metadata {
  font-size: 14px;
}

div.tutorial-body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 40px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  width: 810px;
  margin: auto;
}

div.message-body {
  padding-bottom: 20px;
  border-width: 5px;
  border-color: red;
  width: 900px;
  margin: auto;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

div.response-body {
  padding-top: 0px;
  border-width: 5px;
  border-color: blue;
  width: 900px;
  margin: auto;
}

span.left-justify {
  float: left;
}

span.right-justify {
  float: right;
}

div.reply-body {
  /* height: 510px; */
  height: 410px;
  width: 100;
  border-style: solid;
  border-width: 0px;
  border-color: #959595;
}

div.recipient {
  position: absolute;
  /* padding: 15px; */
  padding-top: 15px;
  border-top: 1px dashed black;
}

.container, .backdrop, .predictions, textarea {
  width: 900px;
  /* height: 400px; */
  height: 300px;
  overflow: auto;
}

.container {
  outline: 1px solid black;
}

.predictions, textarea {
  font-size: 14px;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  font-family: monospace;
}

.container {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
}

.backdrop {
  padding: 0;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  overflow: auto;
}

.predictions {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
}

textarea {
  display: block;
  position: absolute;
  z-index: 2;
  color: black;
  background-color: transparent;
  resize: none;
  border-width: 0;
}

textarea:focus {
  outline: none;
}

button.send {
  font-family: monospace;
}

button.send:hover {
  cursor: pointer;
}

span.wordcount {
  text-decoration: none;
  float: right;
}

span.wc_label {
  text-decoration: none;
  float: right;
}