body {
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

div.question {
    text-align: center;
}

div.answers {
    width: 600px;
    text-align: start; 
    margin: auto;
}

table {
    margin: auto;
}